@charset "UTF-8";

body{
    background-image:url("imagens/wallpaper002.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
main{   
    background-color: white;
    margin: 40px;
    padding: 5px;
}
main >h1{
    color: white;
    text-align: center;
}
footer {
    padding: 5px;
    margin: 15px;
    text-align: center;
    background-color: white;
}